doctype html
html
extends layout
head

body
	link(href='../public/stylesheets/style.css', rel='stylesheet')

block content
	.text-dark
		center
			h1 Plant Sensor Data
			table.table
				thead
					tr
						th Recording Date
						th Temperature (C)
						th Humidity (%)
						th Photo-Resistivity (Ohms)
						th Soil Moisture (Ohms)
				tbody
					- each item in data
						tr
							td= item.date_of_sensor
							td= item.temperature
							td= item.humidity
							td= item.photo_resistivity
							td= item.soil_moisture
